<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iswn.mapper.ItemsSpecMapper" >
    <select id="querySpecById" parameterType="String" resultType="com.iswn.pojo.ItemsSpec">
        SELECT * from items_spec where item_id = #{itemId};
    </select>

    <select id="queryItemSpecById" parameterType="String" resultType="com.iswn.pojo.ItemsSpec">
        SELECT * FROM items_spec WHERE id = #{specId};
    </select>
</mapper>