<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iswn.mapper.UsersMapper">
    <sql id="field">
        id, username, password, nickname, realname, face, mobile, email, sex, birthday, created_time, updated_time
    </sql>

    <select id="queryAll" resultType="com.iswn.pojo.Users">
        select
          <include refid="field"/>
        from users;
    </select>

    <select id="userNameIsExist" parameterType="String" resultType="int">
        SELECT count(*) from users WHERE username = #{userName};
    </select>
</mapper>